@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --bg-color: #f3f4f5;
  --bg-color-ex: #e5e6e8;
  --bg-color-ex1: #d2d3d5;
  --main-color: #7535FC;
  --main-color-ex: #5726BF;
  --black-white: #000000;
  --white-black: #FFFFFF;
  --white-black-ex: #f1f1f1;
  --desc-color: #ABA8AD;
  --desc-color-ex: #97939a;
  --box-shadow-color: rgba(0,0,0,0.2);
  --box-shadow-color-ex: rgba(0,0,0,0.5);
  --transition-time: .1s;
  --error-color: #ff0000;
  --like-color: #fa2f43;
  --like-color-bg: #3e2526;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  &.main {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin: 10px auto;
  }
}

.container-small {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--box-shadow-color);
  display: none;
  &.cra {
    z-index: 3;
    display: block;
  }
  &.open {
    display: block;
  }
  &.small {
    background: rgba(0, 0, 0, 0.2);
  }
  &.sub {
    z-index: 2;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-time);
  &:hover {
    background: var(--bg-color);
  }
  &:active {
    background: var(--bg-color);
  }
  &__left {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
  &__name {
    font-size: 15px;
    font-weight: 500;
    color: var(--black-white);
  }
  &__dop-info {
    font-size: 10px;
    font-weight: 400;
    color: var(--desc-color);
  }
  &__btn {
    border: none;
    background: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-time);
    z-index: 10;
    &-icon {
      font-size: 17px;
      color: var(--main-color);
    }
    &:hover .user {
      background: var(none);
    }
    &:hover {
      background: var(--bg-color-ex);
    }
    &:active {
      background: var(--bg-color);
    }
  }
}

.user__btn:hover .user  {
  background: none;
}

body {
  background: var(--bg-color);
  &::-webkit-scrollbar {
    width: 4px;
    padding-right: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--desc-color);
    border-radius: 10px;
  }
}

.rightpanel {
  width: calc(20% - (20px * 2 / 3));
  height: 500px;
  background: var(--bg-color);
}

.blog {
  width: 100%;
  background: var(--white-black);
  padding: 20px;
  border-radius: 10px;
  &.top {
    border-radius: 0 0 10px 10px;
    &.bottom {
      border-radius: 0;
    }
  }
  &.rid {
    padding: 20px 0 20px 20px;
  }
  &.bottom {
    border-radius: 10px 10px 0 0;
    &.top {
      border-radius: 0 0 -10px 10px;
    }
  }
}

.home {
  width: calc(60% - (20px * 2 / 3));
}

/* ToggleSwitch.css */

.small-switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 21px;
}

.small-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.small-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--desc-color);
  transition: 0.4s;
  border-radius: 12px;
}

.small-switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

.small-switch input:checked + .slider {
  background-color: var(--main-color);
}

.small-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--main-color);
}

.small-switch input:checked + .slider:before {
  transform: translateX(20px);
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@import "auth";
@import "header";
@import "nav";
@import "profile";
@import "post";
@import "comment";
@import "create";
@import "message";